{namespace tv = Lobacher\Simpleblog\ViewHelpers}
<h1>{headline}</h1>
<div class="alert alert-danger"><f:render partial="Error" arguments="{object:'blog'}" /></div>
<f:form enctype="multipart/form-data" action="{action}" object="{blog}" name="blog" additionalAttributes="{role:'form'}">
    <div class="form-group">
        <f:form.validationResults for="blog">
            <label {f:if(condition:validationResults.flattenedErrors.title,then:'class="text-danger"')}>Blog Title</label>
        </f:form.validationResults>
        <label {tv:hasError(property:'title',then:' class="text-danger"')}>Blog Title</label>
        <f:form.textfield property="title" class="form-control" />
        <f:form.textfield name="company[companyName2]" class="form-control" value="{company.companyName2}" />
        <f:form.textfield name="company[companyName3]" class="form-control" value="{company.companyName3}"/>
        <f:form.textfield name="company[companyName4]" class="form-control" value="{company.companyName4}"/>
    </div>
    <div class="form-group">
        <label>Blog Description</label>
        <f:form.textarea property="description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Blog-Bild</label>
        <f:if condition="{blog.image}"><br /><f:image src="uploads/tx_simpleblog/{blog.image}" /></f:if>
        <f:form.upload property="image" class="form-control" />
    </div>
    <div class="form-group">
        <f:form.checkbox name="data[acceptTermsAndConditions]" value="1" /> <label>Accept terms and conditions</label>
        <f:form.validationResults for="blog.acceptTermsAndConditions">
            {validationResults.errors.0.message}
        </f:form.validationResults>
    </div>
    <f:form.select name="country" options="{countries}" optionLabelField="nameLocalized" optionValueField="isoCodeA2" />
    <tv:address options="{countries}" optionLabelField="nameLocalized" optionValueField="isoCodeA2">
    </tv:address>

    <select name="country2">
        <optgroup label="Billing Address">
            <f:for each="{countries}" as="country">
                <option value="{country.isoCodeA2}">{country.nameLocalized}</option>
            </f:for>
            <option value="saab">Saab</option>
        </optgroup>
        <optgroup label="Shipping Address">
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </optgroup>
        <optgroup label="_________">
            <option value>+ New</option>
        </optgroup>
    </select>

    <f:form.submit value="{submitmessage}" class="btn btn-primary" />
</f:form>