<f:layout name="default" />
<f:section name="content">
    <f:security.ifAuthenticated>
        <f:then>
            <f:form action="ajax" name="comment" object="{comment}">
                <f:form.textarea property="comment" id="commentfield"/>
                <f:form.submit value="Submit comment" class="btn btn-primary btn-xs" id="commentsubmit"/>
            </f:form>
        </f:then>
        <f:else>
            Please <f:link.page pageUid="{settings.loginpage}">Login</f:link.page> to comment
        </f:else>
    </f:security.ifAuthenticated>

    <ul class="list-group" id="comments">
        <f:for each="{comments}" as="comment" reverse="TRUE">
            <li class="list-group-item">{comment.comment}
                <span class="textmuted">({comment.commentdate -> f:format.date(format: 'Y-m-d H:i:s')})</span>
                <br /><small><i>{comment.author.fullname} (Email: {comment.author.email})</i></small>
            </li>
        </f:for>
    </ul>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#commentsubmit').click(function () {
                var ajaxURL = '<f:uri.action action="ajax" controller="Comment" pageType="99" noCacheHash="1" />';
                var form = $('form');
                $.post(ajaxURL, form.serialize(), function (response) {
                    console.log(response);
                    var items = [];
                    $.each(response, function (key, val) {
                        var res = '<li class="list-group-item">' + val.comment + ' <span class="text-muted">(' + val.commentdate.date + ')</span > ';
                            res += '<br /><small><i>'+ val.author.fullname + '(Email:' + val.author.email + ')</i></small>';
                            res += '</li>';
                        items.push(res);
                    });
                    $('#comments').html(items.reverse().join(''));
                    $('#commentfield').val('');
                });
                return false;
            });
        });
    </script>
</f:section>